<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Payment form</title>
    <link rel="stylesheet" href="./styles/main.scss" />
  </head>
  <body>
    <main id="root">
      <div v-if="!isFinished">
        <div></div>
        <div class="root">
          <form @submit.prevent="submitForm" class="payment-form card shadow appear-animated">
            <div class="card-body">
              <div class="mb-3">
                <label for="cc-number">Card Number</label>
                <div class="pan-container">
                  <input
                    type="text"
                    class="form-control"
                    id="cc-number"
                    placeholder="XXXX XXXX XXXX XXXX"
                    :value="fields.pan.value"
                    v-bind:class="{ 'is-invalid': errorFields.has('pan') }"
                    v-mask="fields.pan.maskOptions"
                    @accept="fields.pan.onAccept"
                  />

                  <div v-if="cardTypeIcon" class="payment-system-logo">
                    <img src="" alt="" v-bind:src="cardTypeIcon" />
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6 mb-3">
                  <label for="cc-expiry">Expiry</label>
                  <input
                    type="text"
                    class="form-control"
                    id="cc-expiry"
                    placeholder="XX / XX"
                    :value="fields.expiry.value"
                    v-bind:class="{ 'is-invalid': errorFields.has('expiry') }"
                    v-mask="fields.expiry.maskOptions"
                    @accept="fields.expiry.onAccept"
                  />
                </div>
                <div class="col-md-6 mb-3">
                  <label for="cc-cvc">{{cardTypeCvcName}}</label>
                  <input
                    type="text"
                    class="form-control"
                    id="cc-cvc"
                    placeholder="XXX"
                    :value="fields.cvc.value"
                    v-bind:type="cvcInputType"
                    v-bind:class="{ 'is-invalid': errorFields.has('cvc') }"
                    v-mask="fields.cvc.maskOptions"
                    @accept="fields.cvc.onAccept"
                  />
                </div>
              </div>

              <div class="mb-3">
                <label for="cc-holder">Card Holder</label>
                <input
                  type="text"
                  class="form-control"
                  id="cc-holder"
                  placeholder="CARDHOLDER NAME"
                  :value="fields.holder.value"
                  v-bind:class="{ 'is-invalid': errorFields.has('holder') }"
                  v-mask="fields.holder.maskOptions"
                  @accept="fields.holder.onAccept"
                />
              </div>

              <hr class="mb-3" />

              <div>
                <button
                  type="submit"
                  class="btn btn-primary btn-block payment-button"
                  :disabled="isSubmitInProgress"
                >
                  <span
                    class="spinner-border spinner-border-sm"
                    role="status"
                    aria-hidden="true"
                    v-if="isSubmitInProgress"
                  ></span>
                  PAY
                </button>
              </div>
              <div class="text-center text-danger mt-3" v-if="showCheckFormWarning">
                Check form fields!
              </div>
            </div>
          </form>
        </div>
      </div>

      <div v-if="isFinished">
        <div class="root">
          <div class="card final-card shadow appear-animated">
            <div class="card-body text-nowrap text-center">
              <div class="success-tick-container">
                <img class="success-tick" src="./img/tick.svg" alt="" />
              </div>
              <h3 class="text-success">Payment Successful!</h3>

              <hr />

              <div class="text-muted">Transaction number: <strong>5498732216498215</strong></div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <script src="js/main.js"></script>
  </body>
</html>
